
h1{
    color: white;
    text-align: center;
}

.navbar{
    display: block;
    text-align: center;
    font-size: 1em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 10px;
  }
  
  .navbar ul{
    list-style-type: none; /* Removes the bullet points */
    padding: 0;            /* Removes default padding */
    margin: 0;             /* Removes default margin */
    display: flex;         /* Makes the list items appear horizontally */
    background-color: #355C7D; /* Background color for the navbar */
  }
  
  .navbar ul li{
    margin: 0 15px; /* Adds some spacing between the items */
  }
  
  .navbar ul li a {
    color: white;   /* Changes the text color of links */
    text-decoration: none; /* Removes the underline from links */
    padding: 14px 20px;    /* Adds padding to the links */
    display: block;
  }
  
  .navbar ul li a:hover {
    background-color: #725A7A; /* Changes the background color on hover */
  }